#container{

    
    text-align: center;


}
table{
    text-align: center;
    border:solid;
    border-color: blueviolet;
    margin: auto;
    font-family: 'Prompt', sans-serif;
}
td{
    border: 1px solid;
}
h1{
    font-family: 'Rampart One', cursive;
}